.increment_input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
        button, input {
            //hide input arrows
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 16px;
            min-width: 16px;
            height: 32px;
            width: 32px;
            border-radius: 999px;
            border: none;
            background: rgba(225, 225, 229, 1);
            padding: 0.35rem;
        }
        button:first-of-type {
            background: rgba(225, 225, 229, 0.55);

        }
        button {
            cursor: pointer;
        }
    }