/* VARIABLES */

/* FONTS */
$font-light: #FFFFFF;
$font-dark: #000000;
$font-dark-secondary: rgba(0, 0, 0, .65);
$font-error-message: #EB0026;


/* FORMS */

$form-input-border-color: rgba(224, 224, 224, 1);
$form-border-radius: 4px;
$form-font-light-grey: #182B39;


/* BUTTONS */
$btn-inactive: #8F959B;
$btn-active: #182B39;



  