.checkbox {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 0.5rem;
    justify-content: flex-start;
    padding-bottom: 0.75rem;
    input {
        accent-color: black;
        width: 18px;
        height: 18px;
    }
}