@import "../styles/variables.scss";

.dropdown_container {
  position: relative;


  label {
    margin: 0 5px;
    color: $font-dark;
    position: absolute;
    pointer-events: none;
    transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
    top: 50%;
    transform: translateY(-50%);
    margin: 5px 5px;
    position: absolute;
    top: 10%;
    font-size: 0.8em;
    color: $font-dark-secondary;
  }



  select {
        border-width: 1px;
       padding: 20px 5px 10px;
     width: 100%;
        border-radius: 4px;
        transition: border 0.3s;
        outline: none;
        border-color: $form-input-border-color;
      
  }

  select:focus {
    border-color: $font-dark;
  }
}
