.booking_widget {
    display: flex;
    flex-direction: column;
    grid-column: span 6 / span 6;
    margin: 5rem 2rem;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    width: 400px;
    height: 400px;
    padding: 2rem 1rem;
    border-bottom: 1px solid #e5e5e5;
    z-index: 2;

}