.wrapper {
    max-width: 100vw;
    width: 100%;
    height: 90%;

}
.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
    position: relative;
}
.booking_widget_layout {
    display: grid;
    position: absolute;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    margin: 0 0 2rem auto;
    column-gap: 16px;

}

.overlay_background {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: all 0.3s ease-in-out;
  }