.form_login {
    position:absolute;
    top: 100px;
    right: 200px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px black solid;
    max-width: 400px;
}

.form_login input {
    border-width: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 4px;
}

.form_login label {
  position: absolute;
  top: 10px;
}
.form_login p, .form_login a {
    font-size: 13px;
    font-weight: 500;
    line-height: 16.25px;
    color: rgba(0, 0, 0, .65);
}

.form_login a {
    text-decoration: underline;
    color: rgb(24, 43, 57, 1);
}

.form_login button {
    color: rgb(255, 255, 255, 1);
    background-color: rgb(24, 43, 57, 1);
    padding: 20px;
    width: 80%;
    align-self: center;
    font-weight: 600;
    border-radius: 9999px;
}



