.nav_container {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 10px 28px;
  align-items: center;
  background-color: transparent;
}
.links_container {
  display: flex;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  width: 340px;
  border: 1px black solid;

  input.nav {
    border-radius: 4px;
  }

  button.nav {
    background-color: rgb(24, 43, 57);
    border-radius: 9999px;
    color: rgb(229, 231, 235);
    height: 52px;

    margin: 1.25rem 2rem;
  }
}
